
.grid-container {
	max-width: 1680px;
	margin: 10px auto;
}

.text-over-chart {
	position: absolute;
	top: calc(50% + 13px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	font-family: "Roboto Condensed";
	font-size: 50px;
	color: white;
}