
.tile {
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 3px;
	padding: 10px;
	display: flex;
	position: relative;
}

.text-competitive {
	height: 22.3483px;
	line-height: 22.3483px;
	width: 60px;
}

.tile-scrollable {
	overflow: auto;
	padding-bottom: 5px;
}

.tile-loading {
	background: linear-gradient(192deg, rgba(0, 0, 0, 0.38), rgba(128, 128, 128, 0.19));
	background-size: 400% 400%;

	-webkit-animation: loadingAnimation 5s ease infinite;
	-moz-animation: loadingAnimation 5s ease infinite;
	animation: loadingAnimation 5s ease infinite;
}

@-webkit-keyframes loadingAnimation {
	0%{background-position:22% 0%}
	50%{background-position:79% 100%}
	100%{background-position:22% 0%}
}
@-moz-keyframes loadingAnimation {
	0%{background-position:22% 0%}
	50%{background-position:79% 100%}
	100%{background-position:22% 0%}
}
@keyframes loadingAnimation {
	0%{background-position:22% 0%}
	50%{background-position:79% 100%}
	100%{background-position:22% 0%}
}