*, *::before, *::after {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

	box-sizing: border-box;
	margin: 0;
}

/* Scrollbar Styling */
:root, * {
	/* Firefox */
	scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Translucent knob and invisible track */
}

:root::-webkit-scrollbar, *::-webkit-scrollbar {
	width: 12px; /* Width of the entire scrollbar */
	height: 12px; /* Height of the entire scrollbar */
}

:root::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

:root::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); /* Translucent scrollbar knob */
  border-radius: 5px; /* Optional: rounded corners for the knob */
}

:root::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Darker knob on hover */
}
/* ----------------- */

.row {
	--gap: 10px;
	display: flex;
	flex-direction: row;
	gap: var(--gap);
}

.col {
	--gap: 10px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.full-width {
	width: 100% !important;
}
.full-height {
	height: 100% !important;
}

.nowrap {
	flex-wrap: nowrap;
}

.wrap {
	flex-wrap: wrap;
}

.nogap {
	gap: 0px;
}

.clickable {
	cursor: pointer;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.center-y {
	align-items: center;
}

.center-x {
	justify-content: center;
}

.align-right {
	align-items: flex-end;
}

.align-left {
	align-items: flex-start;
}

.space-between {
	justify-content: space-between;
}

.space-evenly {
	justify-content: space-evenly;
}

.text {
	font-size: 13px; 
	line-height: 13px; 
	height: 13px;
	color: rgba(255,255,255);
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-light {
	font-size: 13px; 
	line-height: 13px; 
	height: 13px;
	color: rgba(255,255,255,0.75);
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.text-big {
	font-size: 30px;
	font-family: Roboto;
	color: white;
}

.text-small {
	font-size: 9px;
	line-height: 14px;
	height: 14px;
	text-align: right;
	color: rgba(255,255,255);
}

.text-over-chart {
	position: absolute;
	top: calc(50% + 13px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	font-family: "Roboto Condensed";
	font-size: 50px;
	color: white;
}

.text-gray {
	color: rgb(170, 170, 170);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-italic {
	font-style: italic;
}

.cs2rating {
	transform: scale(1);

	width: 70px;
	height: 24px;
	display: flex;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: .75rem .75rem .75rem 1.5rem;
	text-shadow: 0 1px 0 black;
	font-weight: bold;
}

.cs2rating.ancient {
	color: #EB4B4B;
}

.cs2rating.legendary {
	color: #D22CE6;
}

.cs2rating.unusual {
	color: #FED700;
}

.cs2rating.mythical {
	color: #8846FF;
}

.cs2rating.rare {
	color: #4B69FF;
}

.cs2rating.uncommon {
	color: #5E98D7;
}

.cs2rating.common {
	color: #B1C3D9;
}

.cs2rating-big {
	transform: skew(-15deg);
}

.cs2rating small {
	font-size: 12px !important;
}

.info-banner {
	background-color: rgba(208, 65, 67, .15);
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.banned-banner {
	background-color: rgba(208, 65, 67, 1);
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.grid-container {
	max-width: 1680px;
	margin: 10px auto;
}

.underlined {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 4px 0px;
}

.match-hoverable {
	position: relative;
	cursor: pointer;
}

.match-hoverable:hover::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -5px;
	border-radius: 3px;
	width: 40px;
	height: calc(100% + 10px);
	background: linear-gradient(0deg,rgba(255, 255, 255, .2) 0%, transparent 80%)
}

.border-left {
	border-left: 1px solid #4B505E;
	padding-left: 10px;
}
