div#player {
	flex-direction: column;
	align-items: center !important;
}

.banner .banner-h,
div#page-bg-outer,
div#player div#player-profile {
	display: none;
}

div#player div#player-outer-section {
	width: 100%;
	margin: 0 auto;
}

span.caret {
	margin-left: 12px;
}

.match-dot-outer {
	position: relative;
}

.match-dot-outer::after {
	content: " ";
	display: none;
	z-index: -1;
	position: absolute;
	top: -5px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	width: 100%;
	height: calc(100% + 5px);
}

.match-dot-outer:hover::after {
	display: inline-block;
}

.content-sub-nav-outer {
	padding: .5rem 0 !important;
}

.navbar .nav > li:not(.nav-button) {
	cursor: pointer;
}

.navbar .nav > li:not(.nav-button):after {
	bottom: -14px !important;
}

.collapse.navbar-collapse > .nav.navbar-nav > li:after {
	bottom: 0px !important;
	height: 2px !important;
}

#player-filters #filters-trigger,
#player-filters-actions .btn,
#player-filters .dropdown.bootstrap-select {
	height: 30px !important;
	border-radius: 4px !important;
}

div#player-filters {
	padding: 5px 0;
	justify-content: flex-end;
}

span#played-with-show-vac,
span#played-with-show-all,
span#match-list-show-all,
span#match-list-show-vac {
	padding: 0 10px !important;
	line-height: 30px;
	height: 28px;
	width: auto;

	text-align: center;
	margin-left: 8px !important;
}

#discord-icon .notification  {
	width: 8px !important;
	height: 8px !important;
}

#user-locale button {
	display: none;
}

.user-nav-split {
	height: 38px !important;
}

#header-nav {
	box-shadow: none !important;
	background: transparent !important;
}

#header-nav #main-nav {
	padding-left: 0 !important;
}

#header-nav .nav.navbar-nav > .ripple {
	height: 64px;
	line-height: 40px !important;
}

#main-nav > li,
#main-nav > li > .ripple {
	height: 64px !important;
}

#main-nav > li > a {
	padding-top: 22px !important;
}

#weapons-navbar,
#leaderboard-nav-maps,
#tab-h-nav {
	top: 64px !important;
}

.match-dot.match-win {
	background: #7dcd4e !important;
}

.match-dot.match-lose {
	background: #ca5151 !important;
}

#player-stats-container ~ div.col-sm-4,
#player-stats-container ~ div.col-sm-8 {
	display: none;
}

.rank-holder {
	display: none;
}

#match-info-inner .info {
	gap: 0.5rem !important;
}

#match-details .team-score.tied-team .team-score-number {
	color: #3A74FA !important;
}

/* Scrollbar Styling */
:root {
	/* Firefox */
	scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Translucent knob and invisible track */
}

:root::-webkit-scrollbar {
	width: 12px; /* Width of the entire scrollbar */
	height: 12px; /* Height of the entire scrollbar */
}

:root::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

:root::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); /* Translucent scrollbar knob */
  border-radius: 5px; /* Optional: rounded corners for the knob */
}

:root::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Darker knob on hover */
}
/* ----------------- */
