
.header-container {
	padding: 20px;
	background-image: url('https://csstats.gg/images/header-bg-image.png');
}

.header-contained {
	max-width: 1680px;
	width: 100%;
	/* border: 1px solid red; */
}

.header-ranks {
	max-width: calc(1680px - 120px - 10px);
}

.header-competitive-ranks {
	max-width: calc(100% - 330px  - 63px - (2 * 20px));
}

.player-avatar {
	border-radius: 3px;
}

.premier-season-btn {
	position: absolute;
	height: 30px;
	width: 30px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	background-color: transparent;
}

.btn-on {
	color: white;
}

.btn-off {
	color: gray;
	opacity: .3;
}

.username {
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	text-overflow: ellipsis;
	width: 120px;
	word-break: break-all;
}

.rank-competitive-hoverable {
	position: relative;
}

.rank-competitive-hoverable:hover::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -5px;
	border-radius: 3px;
	width: 60px;
	height: 172.38px;
	background: linear-gradient(0deg,rgba(255, 255, 255, .2) 0%, transparent 80%)
}

.rank-tile-hoverable {
	position: relative;
	cursor: pointer;
}

.rank-tile-hoverable:hover::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	border-radius: 3px;
	width: 290px;
	height: 63px;
	background: linear-gradient(90deg,rgba(255, 255, 255, .2) 0%, transparent 80%)
}

.rank-faceit-hoverable {
	position: relative;
	cursor: pointer;
}

.rank-faceit-hoverable:hover::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	border-radius: 3px;
	width: 63px;
	height: 63px;
	background: rgba(255, 255, 255, .1) 50%;
}