
.navbar-container {
	width: 100%;
	max-width: 1680px;
	min-height: 50px;
	padding: 0 8px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.38);
	border-radius: 0 0 3px 3px;
}

.navbar-container.no-table-nav {
	justify-content: right;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin: 0px;
}

.navbar .nav > li:not(.nav-button) {
	cursor: pointer;
}

.nav {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	height: 50px;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav > li {
	position: relative;
	display: block;
}

.navbar .nav > li > span {
	padding: 13px 20px 13px 21px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Cairo', sans-serif;
	font-variation-settings: 'slnt' 0;
	border-bottom: 0 !important;
	position: relative;
	font-weight: bold;
}

.navbar .nav > li:not(.nav-button):after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 3px;
	color: #fff;
	background: #3872FC;
}

.navbar .nav > li:not(.nav-button)::after {
	bottom: -12px !important;
}

.navbar .nav > li:hover:after {
	width: 100%;
	margin-left: -50%;
	transition: all 0.6s cubic-bezier(.23, 1, .32, 1);
}

.navbar-filters {
	display: flex;
	gap: .25rem;
	align-items: center;
	position: relative;
}

.navbar-filters > .advanced-filters {
	position: absolute;
	top: calc(100% - 0.3rem);
	right: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.navbar-filters > select,
.navbar-filters > .advanced-filters > select {
	-moz-appearance: none;    /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
}

.navbar-filters > select,
.navbar-filters > .advanced-filters > select,
.navbar-filters > button {
	background-color: rgb(24, 26, 38);
	border: 1px solid rgb(36, 38, 45);
	border-radius: 4px;
	padding: 5px 10px;
	max-width: fit-content;
	color: white;
	cursor: pointer;
	height: 32px;
}

.navbar-filters > .advanced-filters > select {
	min-width: 145px;
}

.navbar-filters > .advanced-button {
	width: 32px;
	padding: 0 18px 0 12px;
}

.apply-button {
	border: 1px solid rgb(48, 73, 165) !important;
}
.apply-button:hover {
	background-color: rgba(48, 73, 165, .5) !important;
	color: white !important;
}

.clear-button {
	border: 1px solid rgb(165, 48, 48) !important;
}
.clear-button:hover {
	background-color: rgba(165, 48, 48, .5) !important;
	color: white !important;
}

select > option {
	text-transform: capitalize;
}